<a href="https://colab.research.google.com/github/limetimeline/ML_Study/blob/main/Chap_03_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import numpy as np
import pandas as pd
array = np.random.randint(0,9,size=[10000,10000])

In [48]:
print(array)
array = array+1
print(array)

[[4 5 6 ... 4 5 8]
 [5 2 5 ... 5 1 4]
 [6 4 0 ... 0 7 0]
 ...
 [1 8 1 ... 4 7 5]
 [4 1 8 ... 6 8 6]
 [7 2 2 ... 8 8 0]]
[[5 6 7 ... 5 6 9]
 [6 3 6 ... 6 2 5]
 [7 5 1 ... 1 8 1]
 ...
 [2 9 2 ... 5 8 6]
 [5 2 9 ... 7 9 7]
 [8 3 3 ... 9 9 1]]

In [49]:
array[::2, :10000] = 0
array

array([[0, 0, 0, ..., 0, 0, 0],
       [6, 3, 6, ..., 6, 2, 5],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [2, 9, 2, ..., 5, 8, 6],
       [0, 0, 0, ..., 0, 0, 0],
       [8, 3, 3, ..., 9, 9, 1]])

In [50]:
array[::1, 1::2] = 0
array

array([[0, 0, 0, ..., 0, 0, 0],
       [6, 0, 6, ..., 0, 2, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [2, 0, 2, ..., 0, 8, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [8, 0, 3, ..., 0, 9, 0]])

In [77]:
p = pd.DataFrame({'name' : ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
                  'horse power' : [130,250,190,300,210,220,170],
                  'weight' : [1.9,2.6,2.2,2.9,2.4,2.3,2.2],
                  'efficiency' : [16.3,10.2,11.1,7.1,12.1,13.2,14.2]})
p

  name  horse power  weight  efficiency
0    A          130     1.9        16.3
1    B          250     2.6        10.2
2    C          190     2.2        11.1
3    D          300     2.9         7.1
4    E          210     2.4        12.1
5    F          220     2.3        13.2
6    G          170     2.2        14.2

In [78]:
p.set_index('name')

      horse power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2

In [99]:
p['mul'] = p['horse power'] * p['efficiency']
p

  name  horse power  weight  efficiency     mul
0    A          130     1.9        16.3  2119.0
1    B          250     2.6        10.2  2550.0
2    C          190     2.2        11.1  2109.0
3    D          300     2.9         7.1  2130.0
4    E          210     2.4        12.1  2541.0
5    F          220     2.3        13.2  2904.0
6    G          170     2.2        14.2  2414.0

In [121]:
print('마력과 연비를 곱한 값중 최대값을 가진 차종 : ', p['name'][p['mul'].idxmax()])

마력과 연비를 곱한 값중 최대값을 가진 차종 :  F